<h1>Rotten Mangoes Users</h1>
<table>
  <tr>
    <th>email</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>is_admin</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.is_admin %></td>
      <td>
        <form method="POST" action="<%= admin_user_path(user.id) %>">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="hidden" name="_method" value="DELETE"> <!-- sinatra/rails hack to fake delete HTTP verb from a form -->
          <button class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @users %>
